#
# Copyright (c) 2017, 2019 IBM Corp. and others
#
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which accompanies this distribution and is available at
# https://www.eclipse.org/legal/epl-2.0/ or the Apache
# License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the
# following Secondary Licenses when the conditions for such
# availability set forth in the Eclipse Public License, v. 2.0
# are satisfied: GNU General Public License, version 2 with
# the GNU Classpath Exception [1] and GNU General Public
# License, version 2 with the OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] http://openjdk.java.net/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH
# Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
#
# Mkdocs build dependencies pinned
#
click==7.0                # via mkdocs
htmlmin==0.1.12           # via mkdocs-minify-plugin
jinja2==2.10.3            # via mkdocs
jsmin==2.2.2              # via mkdocs-minify-plugin
livereload==2.6.1         # via mkdocs
markdown==3.1.1           # via mkdocs, mkdocs-material, pymdown-extensions
markupsafe==1.1.1         # via jinja2
mkdocs-material==4.5.0
mkdocs-minify-plugin==0.2.1  # via mkdocs-material
mkdocs==1.0.4
pep562==1.0               # via pymdown-extensions
pygments==2.4.2           # via mkdocs-material
pymdown-extensions==6.2   # via mkdocs-material
pyyaml==5.1.2             # via mkdocs
six==1.13.0               # via livereload
tornado==6.0.3            # via livereload, mkdocs
