#
# Copyright (c) 2017, 2022 IBM Corp. and others
#
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which accompanies this distribution and is available at
# https://www.eclipse.org/legal/epl-2.0/ or the Apache
# License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the
# following Secondary Licenses when the conditions for such
# availability set forth in the Eclipse Public License, v. 2.0
# are satisfied: GNU General Public License, version 2 with
# the GNU Classpath Exception [1] and GNU General Public
# License, version 2 with the OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] http://openjdk.java.net/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH
# Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
#
# Mkdocs build dependencies pinned
#
click==8.0.0
    # via
    #   mkdocs
    #   nltk
future==0.18.2
    # via lunr
jinja2==3.0.0
    # via
    #   mkdocs
    #   mkdocs-macros-plugin
joblib==1.2.0
    # via nltk
livereload==2.6.3
    # via mkdocs
lunr[languages]==0.5.8
    # via mkdocs
markdown==3.3.4
    # via
    #   mkdocs
    #   mkdocs-material
    #   pymdown-extensions
markupsafe==2.0.0
    # via jinja2
mkdocs==1.1.2
    # via
    #   -r requirements.in
    #   mkdocs-macros-plugin
    #   mkdocs-material
mkdocs-macros-plugin==0.5.5
    # via -r requirements.in
mkdocs-material==7.1.4
    # via
    #   -r requirements.in
    #   mkdocs-macros-plugin
    #   mkdocs-material-extensions
mkdocs-material-extensions==1.0.1
    # via mkdocs-material
nltk==3.6.2
    # via lunr
pygments==2.9.0
    # via mkdocs-material
pymdown-extensions==8.2
    # via mkdocs-material
python-dateutil==2.8.1
    # via mkdocs-macros-plugin
pyyaml==5.4.1
    # via
    #   mkdocs
    #   mkdocs-macros-plugin
regex==2021.4.4
    # via nltk
six==1.16.0
    # via
    #   livereload
    #   lunr
    #   python-dateutil
termcolor==1.1.0
    # via mkdocs-macros-plugin
tornado==6.1
    # via
    #   livereload
    #   mkdocs
tqdm==4.60.0
    # via nltk
