#
# Copyright (c) 2017, 2021 IBM Corp. and others
#
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which accompanies this distribution and is available at
# https://www.eclipse.org/legal/epl-2.0/ or the Apache
# License, Version 2.0 which accompanies this distribution and
# is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# This Source Code may also be made available under the
# following Secondary Licenses when the conditions for such
# availability set forth in the Eclipse Public License, v. 2.0
# are satisfied: GNU General Public License, version 2 with
# the GNU Classpath Exception [1] and GNU General Public
# License, version 2 with the OpenJDK Assembly Exception [2].
#
# [1] https://www.gnu.org/software/classpath/license.html
# [2] http://openjdk.java.net/legal/assembly-exception.html
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH
# Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
#
# Mkdocs build dependencies pinned
#
click==7.1.2              # via mkdocs, nltk
future==0.18.2            # via lunr
importlib-metadata==2.1.1  # via markdown
jinja2==2.11.3            # via mkdocs
joblib==0.14.1            # via nltk
livereload==2.6.3         # via mkdocs
lunr[languages]==0.5.8    # via mkdocs
markdown==3.2.2           # via mkdocs, mkdocs-material, pymdown-extensions
markupsafe==1.1.1         # via jinja2
mkdocs-material-extensions==1.0.1  # via mkdocs-material
mkdocs-material==7.0.3
mkdocs==1.1.2
nltk==3.5                 # via lunr
pygments==2.8.0           # via mkdocs-material
pymdown-extensions==8.0.1  # via mkdocs-material
pyyaml==5.3.1             # via mkdocs
regex==2020.11.13         # via nltk
six==1.15.0               # via livereload, lunr
tornado==6.1              # via livereload, mkdocs
tqdm==4.58.0              # via nltk
zipp==1.2.0               # via importlib-metadata